.border {
    border-radius: 5px;
    border-width: 2px;
    border-collapse: collapse;
    border-style: solid;
}


.parentFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.textPadding {
    word-break: break-all;
    padding: 0.5vh;
}

.width70 {
    width: 70%;
}

.leftSide {
    margin-right: auto;
}

.rightSide {
    margin-right: auto;
}